body{
    font-family: Arial, "Times New Roman", sans-serif
}

#ingredients{
    font-size: 30px;
    font-weight: 900; Currently, it’s just a plain list, so get creative with layouts, colors, and styles to make your page uniquely captivating.
    background-color: red;
    text-align: center;
}

#steps{
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

#index-list{
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin: 50px 200px;
}

#index-list li{
    margin: 10px;
}

h1{
    font-size: 70px;
    font-weight: 900;
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    margin: 40px 300px;
}

h2{
  font-size: 30px;
  font-weight: 700;
  background-color: green;
  color: yellow;
  text-align: center;    
}

.list{
    background-color: bisque;
    color: black;
}

.unordered{
    font-size: 24px;
    font-weight: 100;
}

.ordered{
    font-size: 18px;
    font-weight: 500;
}